@media (max-width: 1200px) {
  .container {
    max-width: 90rem;
  }
}

@media (max-width: 911px) {
  html {
    font-size: 50%;
  }
  .contacts {
    column-gap: 1rem;
  }
}

@media (max-width: 750px) {
  .container {
    max-width: 65rem;
  }
  .contacts {
    grid-template-columns: auto 20% auto 20%;
  }
  .table-header {
    display: none !important;
  }
  .id,
  .name,
  .lastname,
  .email,
  .phone {
    display: none;
  }
  .fullname,
  .open {
    display: block;
  }
}

@media (max-width: 540px) {
  html {
    font-size: 40%;
  }
  .container {
    max-width: 38rem;
  }
  header {
    margin: 4.8rem 0;
  }
  .header-bar {
    justify-content: space-between;
  }
  .contacts {
    grid-template-columns: auto 20%;
  }
}
