@media (max-width: 1200px) {
  .container {
    max-width: 90rem;
  }
  .modal-add,
  .modal-edit,
  .modal-open {
    width: 45%;
  }
}

@media (max-width: 911px) {
  html {
    font-size: 50%;
  }
  .contacts {
    column-gap: 1rem;
  }
  .modal-add,
  .modal-edit,
  .modal-open {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .container {
    max-width: 65rem;
  }
  .contacts {
    grid-template-columns: auto 20% auto 20%;
  }
  .table-header {
    display: none !important;
  }
  .id,
  .name,
  .lastname,
  .email,
  .phone {
    display: none;
  }
  .fullname,
  .open {
    display: block;
  }
  .input-box {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  label {
    width: 100%;
  }
  .input-field {
    width: 100%;
  }
}

@media (max-width: 540px) {
  html {
    font-size: 40%;
  }
  .container {
    max-width: 38rem;
  }
  header {
    margin: 4.8rem 0;
    font-size: 1.6rem;
  }
  .header-bar {
    justify-content: space-between;
  }
  .contacts {
    grid-template-columns: 3fr 2fr;
  }
  .modal-add,
  .modal-edit,
  .modal-open {
    width: 70%;
  }
}
