/* 
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 */

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* COLORS */
  --primary-color: #99e9f2;
  --shade-primary: #66d9e8;
  --secondary-color: #f42c04;
  --shade-secondary: #dd2803;
  --grey-1: #333;
  --grey-2: #777;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  color: var(--grey-1);
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  background-color: white;
  margin-top: 9.6rem;
  padding: 2.4rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0.3rem 0.3rem 2rem rgb(0 0 0 / 60%);
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 7px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.6);
}
.btn:hover {
  background-color: var(--shade-primary);
  color: white;
}
input {
  font-size: 2.4rem;
}
label {
  color: var(--grey-2);
  font-size: 2rem;
  width: 30%;
}

/* REUSABLE */
.invisible {
  visibility: hidden !important;
}
.hidden {
  display: none !important;
}

/* HEADER */
header {
  font-size: 2rem;
  margin-bottom: 4.8rem;
}
.header-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid var(--grey-1);
  padding: 1.6rem 0;
}
.add-contact {
  position: absolute;
  right: 0;
  font-size: 2.4rem;
}

/* MAIN */
.contacts {
  display: grid;
  grid-template-columns: auto 1fr 1fr 3fr 2fr auto;
  gap: 1rem 2rem;
  align-items: center;
  justify-items: start;

  font-size: 2.4rem;
}
.table-header {
  font-size: 1.6rem;
}
.fullname {
  display: none;
}
.email,
.phone {
  justify-self: center;
}
.open,
.edit,
.delete {
  justify-self: center;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.open {
  display: none;
}
.delete {
  background-color: var(--secondary-color);
  color: #fff;
}
.delete:hover {
  background-color: var(--shade-secondary);
}

/******************* MODALS ********************/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.modal-title {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
  text-align: center;
}

.modal-add,
.modal-edit,
.modal-open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #fff;
  padding: 2.4rem 4.8rem;
  border-radius: 11px;
  width: 35%;
}

.add-contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}
.input-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}
.input-field {
  width: 75%;
  border: none;
  border-bottom: 1px solid var(--grey-1);
}
.btn-add {
  padding: 0.4rem 3.2rem;
  margin-top: 1.2rem;
}

/* OPEN - for mobile phones (750px & 540px) */
.modal-open {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.2rem;
  font-size: 2.4rem;
}
.modal-open-fullname {
  align-self: center;
  font-size: 3rem;
}
.contact-details {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.show-field {
  color: var(--grey-1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.show-field > ion-icon {
  font-size: 2.4rem;
}
.modal-open-email,
.modal-open-phone {
  font-size: 1.8rem;
}
