/* 
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 */

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* COLORS */
  --primary-color: #99e9f2;
  --shade-primary: #66d9e8;
  --secondary-color: #f42c04;
  --shade-secondary: #dd2803;
  --grey-1: #333;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Trebuchet MS", sans-serif;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

button {
  background-color: var(--primary-color);
  color: var(--grey-1);
  border: none;
  border-radius: 7px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background-color: var(--shade-primary);
  color: white;
}

/* REUSABLE */
.invisible {
  visibility: hidden !important;
}

/* HEADER */
header {
  font-size: 2rem;
  color: var(--grey-1);
  margin-top: 9.6rem;
  margin-bottom: 9.6rem;
}
.header-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.add-contact {
  position: absolute;
  right: 0;
  font-size: 2.4rem;
}

/* MAIN */
.contacts {
  display: grid;
  grid-template-columns: auto 1fr 1fr 3fr 2fr auto;
  gap: 1rem 2rem;
  align-items: center;
  justify-items: start;

  font-size: 2.4rem;
  color: var(--grey-1);
}
.table-header {
  font-size: 1.6rem;
}
.fullname {
  display: none;
}
.email,
.phone {
  justify-self: center;
}
.open,
.edit,
.delete {
  justify-self: center;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.open {
  display: none;
}
.delete {
  background-color: var(--secondary-color);
  color: #fff;
}
.delete:hover {
  background-color: var(--shade-secondary);
}
